
@searchHeight: 100px;

@pageWidth: 1130px;
@pageBackgroundColor: white;

@imageWidth: 300px;
@imageHeight: 400px;

@wishFontSize: 18px;
@wishFontColor: white;
@wishBackgroundColor: green;

@shareFontSize: 12px;
@shareFontColor: white;
@shareBackgroundColor: blue;

@titleFontSize: 30px;
@titleFontColor: #444;

@pathFontSize: 16px;
@pathFontColor: #999;

@priceTagWidth: 300px;
@priceTagTitleFontColor: #444;
@priceTagTitleFontSize: 16px;
@priceTagCheapestFontColor: red;
@priceTagCheapestFontSize: 20px;
@priceTagButtonBackgroundColor: red;
@priceTagButtonFontColor: yellow;
@priceTagButtonFontSize: 16px;

@descriptionFontSize: 14px;
@descriptionFontColor: #444;

@infoFontSize: 14px;
@infoFontColor: #444;

@offersWidth: 400px;
@offersBorderColor: #BBB;
@offersViewBackgroundColor: cyan;
@offersViewFontSize: 14px;
@offersViewFontColor: white;
@offersPriceFontColor: red;
@offersPriceFontSize: 20px;
@offersSellerFontColor: #444;
@offersSellerFontSize: 16px;
@offersParcelsFontColor: #444;
@offersParcelsFontSize: 14px;

@tabHeadingFontSize: 18px;
@tabHeadingFontColor: #999;
@tabHeadingActiveFontColor: #444;

@alertWidth: 300px;
@alertTitleFontSize: 20px;
@alertTitleFontColor: red;
@alertPriceFontSize: 40px;
@alertPriceFontColor: red;
@alertTextFontSize: 16px;
@alertTextFontColor: #444;
@alertSubmitFontSize: 16px;
@alertSubmitFontColor: yellow;
@alertSubmitBackgroundColor: red;



.product-single-view {
    max-width: @pageWidth;
    margin: auto;
    padding-top: @searchHeight;
    background-color: @pageBackgroundColor;

    .product-header {
        position: relative;

        // Title area, name and path.
        .product-title {
            width: 100%;
            padding: 0px @priceTagWidth 20px 20px;

            // Product name.
            h1 {
                margin: 0px;
                padding: 0px;
                color: @titleFontColor;
                font-size: @titleFontSize;

            }

            // Navigation path.
            h2 {
                margin: 0px;
                padding: 0px;
                color: @pathFontColor;
                font-size: @pathFontSize;

                .breadcrumbs {
                    div {
                        display: inline-block;
                        
                        a {
                            text-decoration: none;
                            color: inherit;
                            font-size: inherit;
                        }

                        span {
                            display: inline-block;
                            margin: 0px 3px;
                        }
                    }
                }
            }
        }

        // Price area.
        .product-price {
            position: absolute;
            top: 0px;
            right: 0px;
            width: @priceTagWidth;
            padding: 0px 20px;

            .price-tag {

                // Title.
                h3 {
                    margin: 0px;
                    padding: 0px;
                    font-size: @priceTagTitleFontSize;
                    color: @priceTagTitleFontColor;
                }

                // Cheapest offer.
                strong {
                    color: @priceTagCheapestFontColor;
                    font-size: @priceTagCheapestFontSize;
                    display: inline-block;
                    margin-right: 5px;
                }

                // View history button.
                a {
                    display: block;
                    font-size: @priceTagButtonFontSize;
                    font-weight: bold;
                    color: @priceTagButtonFontColor;
                    background-color: @priceTagButtonBackgroundColor;
                    text-decoration: none;
                    text-align: center;
                    padding: 10px;
                }
            }
        }
    }

    // First row of content containing image, description and offers.
    .product-body-one {
        position: relative;
        min-height: @imageHeight;
        margin-top: 20px;
        clear: both;

        // Product image and wish/share buttons.
        .product-image {
            width: @imageWidth;
            height: @imageHeight;
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 20px;

            // Disables mui button styles.
            .mui-raised-button {
                display: block;
                box-shadow: none;

                .mui-paper-container {
                    box-shadow: none;

                    button {
                        background-color: transparent;

                        .mui-raised-button-label {
                            color: inherit;
                            font-size: inherit;
                        }
                    }
                }
            }

            // Wish button.
            .wish {
                width: 100%;
                color: @wishFontColor;
                background-color: @wishBackgroundColor;
                margin: 10px 0px;
                padding: 10px;
                font-size: @wishFontSize;
            }

            // Share button.
            .share {
                width: 100%;
                color: @shareFontColor;
                background-color: @shareBackgroundColor;
                font-size: @shareFontSize;
            }
        }

        // Description area
        .product-description {
            position: absolute;
            left: @imageWidth;
            right: @offersWidth;

            // Description text.
            p {
                font-size: @descriptionFontSize;
                color: @descriptionFontColor;
            }

            // Info.
            dl {
                font-size: @infoFontSize;
                color: @infoFontColor;

                // Info title.
                dt {
                    float: left;
                    clear: both;
                    font-weight: bold;
                    margin-right: 5px;
                }

                // Info content.
                dd {
                    float: left;
                }
            }
        }

        // Offers list.
        .product-offers {
            width: @offersWidth;
            float: right;
            padding: 0px 20px;

            ul {
                margin: 0px;
                padding: 0px;
                list-style-type: none;

                li {
                    margin: 0px;
                    padding: 10px 0px;
                    border-top: 1px solid @offersBorderColor;

                    &:first-child {
                        border-top: none;
                    }

                    // Seller name.
                    .store-list-seller {
                        color: @offersSellerFontColor;
                        font-size: @offersSellerFontSize;
                        display: inline-block;
                        margin-right: 5px;
                        width: 100px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    // Price.
                    strong {
                        color: @offersPriceFontColor;
                        font-size: @offersPriceFontSize;
                        display: inline-block;
                        margin-right: 5px;
                        width: 100px;
                    }

                    // Parcels.
                    .store-list-parcel {
                        color: @offersParcelsFontColor;
                        font-size: @offersParcelsFontSize;
                        display: inline-block;
                        margin-right: 5px;
                        width: 63px;
                        text-align: center;
                    }

                    // View link.
                    a {
                        display: inline-block;
                        padding: 5px 30px;
                        background-color: @offersViewBackgroundColor;
                        font-size: @offersViewFontSize;
                        color: @offersViewFontColor;
                        text-decoration: none;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    // Second row of content containing chart and alert form.
    .product-body-two {
        position: relative;
        margin-top: 40px;
        clear: both;

        // Product tabs.
        .product-tabset {
            width: 100%;
            padding: 0px @alertWidth 0px 20px;

            // Tab headings.
            .product-tab-heading {

                a {
                    display: inline-block;
                    font-size: @tabHeadingFontSize;
                    color: @tabHeadingFontColor;
                    font-weight: bold;
                    text-decoration: none;
                    margin-right: 10px;

                    &.selected {
                        color: @tabHeadingActiveFontColor;
                        text-decoration: underline;
                    }
                }
            }
            
            .product-tab-content {
                padding: 20px 0px;
                
                > div {
                    display: none;
                    
                    &.product-tab-active {
                        display: block;
                    }
                }
            }
        }

        // Price alert.
        .product-alert {
            position: absolute;
            top: 0px;
            right: 0px;
            width: @alertWidth;

            // Title.
            h3 {
                font-size: @alertTitleFontSize;
                color: @alertTitleFontColor;
            }

            // Text.
            p {
                font-size: @alertTextFontSize;
                color: @alertTextFontColor;
            }

            // Price.
            strong {
                display: block;
                font-size: @alertPriceFontSize;
                color: @alertPriceFontColor;
                text-align: center;
                padding: 10px 0px;
            }

            // Range selector.
            input[type=range] {
                display: block;
                width: 100%;
                padding: 10px 0px;
            }

            // Submit button.
            button {
                width: 100%;
                display: block;
                padding: 10px 30px;
                background-color: @alertSubmitBackgroundColor;
                color: @alertSubmitFontColor;
                font-size: @alertSubmitFontSize;
                font-weight: bold;
                border: none;
            }
        }
    }
}
